input::content {
  text-align: center;
}

#txtArea {
  position: relative;
  text-decoration: none;
  color: #1e293b;
  margin: 12px;
  font-weight: 500;
  font-size: 1.4rem;
}

#txtArea::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: rgba(0, 0, 255, 0.492);
  transition: width 0.35s ease;
}
#txtArea:hover::after {
  width: 100%;
}
#txtArea:hover{
  cursor: pointer;
}
.btn {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #6dbcf6;
  color: #fff;
  cursor: pointer;

  /* IMPORTANT PART */
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}